/*  your css code here. If applicable */
.container{
    width: 400px;
    height: 150px;
    background-color: #d3d3d2;
    border: 5px solid black;
    border-radius: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.red,.green,.yellow{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
}

.red{
    background-color: green;
    display: inline;
}
.green{
    background-color: yellow;
    display: inline;
}
.yellow{
    background-color: red;
    display: inline;
}